ComsumingRESTServiceCRUD_client/ComsumingRESTServiceCRUD_client/Connected Services/ServiceReference1/BookServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50577/BookServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50577/BookServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50577/BookServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoRESTServiceCRUD" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookServices_GetBookList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookList" />
  </wsdl:message>
  <wsdl:message name="IBookServices_GetBookList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookListResponse" />
  </wsdl:message>
  <wsdl:message name="IBookServices_GetBookById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookById" />
  </wsdl:message>
  <wsdl:message name="IBookServices_GetBookById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBookServices_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IBookServices_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookServices_UpdateBook_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBook" />
  </wsdl:message>
  <wsdl:message name="IBookServices_UpdateBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookServices_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="IBookServices_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookServices">
    <wsdl:operation name="GetBookList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookServices/GetBookList" message="tns:IBookServices_GetBookList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookServices/GetBookListResponse" message="tns:IBookServices_GetBookList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookServices/GetBookById" message="tns:IBookServices_GetBookById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookServices/GetBookByIdResponse" message="tns:IBookServices_GetBookById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookServices/AddBook" message="tns:IBookServices_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookServices/AddBookResponse" message="tns:IBookServices_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookServices/UpdateBook" message="tns:IBookServices_UpdateBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookServices/UpdateBookResponse" message="tns:IBookServices_UpdateBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookServices/DeleteBook" message="tns:IBookServices_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookServices/DeleteBookResponse" message="tns:IBookServices_DeleteBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="BookServices" />
</wsdl:definitions>